body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; 
    color: #212121; 
}

h1, h2 {
    color: #4CAF50; 
    font-weight: 700;
}

/* Header Styles */
header {
    background-color: #4CAF50; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 36px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: black;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; 
    font-weight: 400; 
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Footer styles*/
footer {
    background-color: #212121; 
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 16px; 
}

form {
  display: block;
  margin-left: auto; 
  margin-right: auto;

}

form label,
form input,
form textarea,
form button {
    display: block; 
    width: 50%;  
    margin-bottom: 10px; 
    margin-left: auto; 
    margin-right: auto;

}

#donation-header{
    margin-left: 25%;
}

/* To create a responsive design*/
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #4CAF50;
    color: white;
}

button.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: darkred;
}

#existing_donation{
    margin-left: 25%;
}